<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer [mode]="mode.value">

        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>emergency</mat-icon>
          <span>Emergency</span>
        </button>
        <button mat-menu-item>
          <mat-icon>contacts</mat-icon>
          <span>Contacts</span>
        </button>
        <button mat-menu-item>
            <mat-icon>search</mat-icon>
            <span>Search</span>
          </button>
          <button mat-menu-item>
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </button>
      
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item>
    <mat-icon>emergency</mat-icon>
    <span>Emergency</span>
  </button>
  <button mat-menu-item>
    <mat-icon>contacts</mat-icon>
    <span>Contacts</span>
  </button>
  <button mat-menu-item>
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
    <button mat-menu-item>
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
</mat-menu>
  

  
  
    </mat-drawer>
    <mat-drawer-content>
      <mat-form-field>
        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
  </mat-drawer-container>
  
  