.example-container {
    width: 1500px;
    height: 500px;
    margin: 12px;
    border: 10px solid #555;
    background-color:lightblue;
    
    
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  mat-drawer{
    background-color: chocolate;
  }
  