
<h1>MEDICARE</h1>
<header>
    <nav class="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Emergency</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
  </header>
<div class="container">
    <div class="gallery">
        <img src="../assets/images/doctor.jpg">
        <div class="desc">Your Doctor</div>
    </div>
    <div class="gallery">
        <img src="../assets/images/emergency.jpg">
        <div class="desc">Medicines</div>
    </div>
    <div class="gallery">
        <img src="../assets/images/stetscope.jpg">
        <div class="desc">Your check up</div>
    </div>
    <div class="gallery">
        <img src="../assets/images/tablets.jpg">
        <div class="desc">Add description to the image</div>
    </div>
    <div class="gallery">
        <img src="../assets/images/testing.jpg">
        <div class="desc">Add description to the image</div>
    </div>
</div>

<midoc-home></midoc-home>

<footer>
All rights are reserved

</footer>